<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome, <span th:text="${role}"></span>!</h1>
<p>Here are your available options:</p>

<h2>Tenant Management</h2>
<ul>
    <li><a th:href="@{/tenants}">View All Tenants</a></li>
    <li><a th:href="@{/tenants/new}">Create New Tenant</a></li>
    <li><a th:href="@{/tenants/{id}(id=1)}">View Tenant Details</a></li>
    <li><a th:href="@{/tenants/{id}/update(id=1)}">Update Tenant</a></li>
    <li><a th:href="@{/tenants/delete(id=1)}">Delete Tenant</a></li>
    <li><a th:href="@{/tenants/inactivate(id=1)}">Inactivate Tenant</a></li>
</ul>

<h2>User Management</h2>
<ul>
    <li><a th:href="@{/users}">View All Users</a></li>
    <li><a th:href="@{/users/new}">Register New User</a></li>
    <li><a th:href="@{/users/{user_id}(user_id=1)}">View User Details</a></li>
    <li><a th:href="@{/users/{user_id}(user_id=1)}">Update User</a></li>
    <li><a th:href="@{/users/delete}">Delete User</a></li>
</ul>

<h2>Project and Notification Management</h2>
<ul th:if="${role == 'Manager' || role == 'TenantAdmin' || role == 'SuperAdmin'}">
    <li><a th:href="@{/projects/new}">create Project</a></li>
    <li><a th:href="@{/projects/assign/new}">Assign Project to Employee</a></li>
</ul>

</body>
</html>