<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<h1>Login Page</h1>

<!-- Display error message if login fails -->
<div th:if="${error}" style="color:red;">[[${error}]]</div>
<!-- Display logout message if applicable -->
<div th:if="${message}" style="color:green;">[[${message}]]</div>

<form action="/login" method="post" th:action="@{/login}" th:object="${user}">
  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />
  <br/>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />
  <br/>
  <button type="submit">Login</button>
</form>
</body>
</html>